* {
  margin:0;
  padding:0;
}


:root {
  --white: rgb(255, 255, 255);
  --backgroundheader: #000000;
  --backgroundheadertrim: #4e0059;
  --backgroundmain: transparent;
  --black: #000;
  --beige: #000000;
  --textalign: center;
}

body {
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  background-color: var(--beige);
  color: var(--white);
}

h1,
h2 {
  margin: 10px;
  float: left;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.nav {
  text-align: center;
}

.nav a:hover {
  background: rgb(81, 1, 90);
  color: var(--black);

}
a:link, a:visited {
  background-color: transparent;
  color: var(--white);
  padding: 0px 25px;
  text-align: var(--textalign);
  text-decoration: none;
  display: inline-block;
}


li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}


header {
  position: absolute;
  border-bottom: 10px solid var(--backgroundheadertrimbackgroundheadertrim);
  margin-top: 10px;
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: var(--backgroundheader);
  text-align: var(--textalign);
}


.background{
  background-image: url(/assets/css/images/gradient.jpeg);
  background-size: cover;
  height: 300px;
  margin-bottom: 20px;
}


.content {
  width: 100%;
  display: inline-block;
}

.main-section{
margin-bottom: 20px;
padding: 50px;
height: auto;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: var(--backgroundmain);
color: var(--white);
} 


.main-section h2 {
margin: -10px 10px 10px 0;
font-size: 20px;
}


.main-section li a {
color: var(--white);
text-decoration: underline;
display: flex;
flex-wrap: wrap;
}

.grid-container > div {
  text-align: var(--textalign);
  padding: 100px 100px;
  font-size: 30px;
  background-position: var(--textalign);
  background-size: cover;
  }
  
.grid-container {
display: grid;
grid-template-rows: repeat(3 , 1fr);
gap: 5px;
padding: px;
}


.link1 {
background-image: url("/assets/css/images/gradient.jpeg");
}

.link2 {
background-image: url("/assets/css/images/gradient2.png");
}

.link3 {
  grid-column: 1 / 3;
background-image: url("/assets/css/images/gradient.jpeg");
}

.link4 {
background-image: url("/assets/css/images/gradient2.png");
}

.link5 {
background-image: url("/assets/css/images/gradient.jpeg");
}

footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: var(--backgroundheader);
  text-align: var(--textalign);
}
.text-center {
  text-align: var(--textalign);

}

@media screen and (max-width: 992px) {
  .grid-container {
    display: inline;
  }
  body {
    font-size: 15px;
  }
  a:link, a:visited {
    padding: 0 24px;
  }
  li {
    padding: 10px;
  }
  header, 
  footer {
    height: 60px;
    line-height: 60px;
  }
  .main-sections {
    margin: 20px 0 0 150px;
    padding: 50px;
  }
  .main-section h2 {
    margin: -10px 10px 10px 0;
    font-size: 10px;
  }


}
